= form_tag movies_path, :method => :get, id: 'ratings_form' do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", '', check_the_box(@checked_ratings, rating)
  = submit_tag 'Refresh', id: 'ratings_submit'