= form_tag movies_path, :method => :get, :id => 'ratings_form' do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, params[:ratings][rating], :id => "ratings_#{rating}"
    = hidden_field_tag 'sort', sort_column
  = submit_tag 'Refresh', :id => 'ratings_submit'