-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= render 'filter_by_rating_form'

%table#movies
  %thead
    %tr
      %th{:class => get_css_class(@sort_by_movie)}= link_to "Movie Title", movies_path(sort_by_movie: get_sort_bool(@sort_by_movie)), id: 'title_header'
      %th Rating
      %th{:class => get_css_class(@sort_by_date)}= link_to "Release Date", movies_path(sort_by_date: get_sort_bool(@sort_by_date)), id: 'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
